<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Independents</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>indy</string>
		<key>SUBDIVISION1</key>
		<string>noSubDiv</string>
		<key>SUBDIVISION2</key>
		<string>noSubDiv</string>
		<key>CONFERENCE_ID</key>
		<string>3216</string>
	</dict>
	<key>Ivy League</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>ivy</string>
		<key>SUBDIVISION1</key>
		<string>noSubDiv</string>
		<key>SUBDIVISION2</key>
		<string>noSubDiv</string>
		<key>CONFERENCE_ID</key>
		<string>3228</string>
	</dict>
	<key>MAC</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>mac</string>
		<key>SUBDIVISION1</key>
		<string>Eastern</string>
		<key>SUBDIVISION2</key>
		<string>Western</string>
		<key>CONFERENCE_ID</key>
		<string>3217</string>
	</dict>
	<key>ACC</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>acc</string>
		<key>SUBDIVISION1</key>
		<string>Atlantic</string>
		<key>SUBDIVISION2</key>
		<string>Coastal</string>
		<key>CONFERENCE_ID</key>
		<string>3211</string>
	</dict>
	<key>SunBelt</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>sbelt</string>
		<key>SUBDIVISION1</key>
		<string>noSubDiv</string>
		<key>SUBDIVISION2</key>
		<string>noSubDiv</string>
		<key>CONFERENCE_ID</key>
		<string>3221</string>
	</dict>
	<key>SEC</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>sec</string>
		<key>SUBDIVISION1</key>
		<string>East</string>
		<key>SUBDIVISION2</key>
		<string>West</string>
		<key>CONFERENCE_ID</key>
		<string>3220</string>
	</dict>
	<key>PAC 12</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>pac12</string>
		<key>SUBDIVISION1</key>
		<string>North</string>
		<key>SUBDIVISION2</key>
		<string>South</string>
		<key>CONFERENCE_ID</key>
		<string>3219</string>
	</dict>
	<key>Mountain West</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>mwest</string>
		<key>SUBDIVISION1</key>
		<string>noSubDiv</string>
		<key>SUBDIVISION2</key>
		<string>noSubDiv</string>
		<key>CONFERENCE_ID</key>
		<string>3218</string>
	</dict>
	<key>Conf USA</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>cusa</string>
		<key>SUBDIVISION1</key>
		<string>Eastern</string>
		<key>SUBDIVISION2</key>
		<string>Western</string>
		<key>CONFERENCE_ID</key>
		<string>3215</string>
	</dict>
	<key>Big Ten</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>big10</string>
		<key>SUBDIVISION1</key>
		<string>Legends</string>
		<key>SUBDIVISION2</key>
		<string>Leaders</string>
		<key>CONFERENCE_ID</key>
		<string>3214</string>
	</dict>
	<key>Big East</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>bige</string>
		<key>SUBDIVISION1</key>
		<string>noSubDiv</string>
		<key>SUBDIVISION2</key>
		<string>noSubDiv</string>
		<key>CONFERENCE_ID</key>
		<string>3213</string>
	</dict>
	<key>Big 12</key>
	<dict>
		<key>CONFERENCE_NAME</key>
		<string>big12</string>
		<key>SUBDIVISION1</key>
		<string>noSubDiv</string>
		<key>SUBDIVISION2</key>
		<string>noSubDiv</string>
		<key>CONFERENCE_ID</key>
		<string>3212</string>
	</dict>
</dict>
</plist>
